* {
  margin: 0;
}

a {
  text-decoration: none;
}

nav a:hover {
  color: #59CD90;
  border-bottom: dotted #59CD90 medium;
}
/**********
  Header
**********/

.header-wrapper {
  background-color: #ED5A47;
  background-size: 100% 100%;
  width: 100%;
  height: 80px;
} 

.signup {
  float: right;
  text-align: center;
  margin-top: 20px;
  margin-right: 2%;
}

.signup p {
  font-size: 1em;
  font-family: sans-serif;
  color: white;
  padding: 8px 15px;
  background-color: #59CD90;
  text-transform: uppercase;
}

.login {
  float: right;
  text-align: center;
  margin-top: 20px;
  margin-right: 5%;
}

.login p {
  font-size: 1em;
  font-family: sans-serif;
  color: white;
  padding: 8px 15px;
  text-transform: uppercase;
}

/*********
  Nav
********/

.nav-wrapper {
  height: 80px;
  width: 100%;
  display: inline-block;
  text-align: center;
  /*border-bottom: solid #F79D84 medium;*/
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  padding: 40px 10px 0px 20px;
  color: #F79D84;
  font-family: sans-serif;
  text-transform: uppercase;
}

/*********
Section
********/
 section {
  width: 100%;
  height: 400px;
  background-color: #59CD90;
 }
