@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

* {
  margin: 0;
  font-family: 'Bree Serif', serif;
  text-align: center;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.login a p:hover {
  border-bottom: dotted #3FA7D6 medium;
}

nav a:hover {
  border-bottom: dotted #FAC05E medium;
}

.box:hover {
  background-color: #EE6352
}


/**********
  Logo
**********/


.logo {
  background: url('img/logo.svg') center no-repeat;
  float: left;
  width: 80px;
  height: 80px;
  background-size: 550px;
  margin-left: 30px;
}

.logo h3 {
  font-family: 'Bree Serif', serif;
  margin-left: 80px;
  margin-top: 30px;
  color: rgba(1,0,0,0.5);
}

/**********
  Header
**********/


.header-wrapper {
  background-color: #A1E8CC;
  background-size: 100% 100%;
  width: 100%;
  height: 80px;
} 

.signup {
  float: right;
  text-align: center;
  margin-top: 20px;
  margin-right: 2%;
}

.signup p {
  font-size: 1em;
  color: white;
  padding: 8px 15px;
  background-color: #3FA7D6;
  text-transform: uppercase;
}

.login {
  float: right;
  text-align: center;
  margin-top: 20px;
  margin-right: 5%;
}

.login p {
  font-size: 1em;
  color: white;
  padding: 8px 15px;
  text-transform: uppercase;
}

.signup a,
.login a {
  text-decoration: none;
}

/*********
  Nav
********/

.nav-wrapper {
  height: 80px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.1);
  position: fixed;
}

nav ul a {
  text-decoration: none;
  color: white;
}
nav ul li {
  text-decoration: none;
  display: inline-block;
  padding: 30px 40px 0px 20px;
  text-transform: uppercase;
}

/*********
Section
********/
section { 
  height: 500px;
  background: url('img/design.jpg') center center no-repeat;
  background-size: 100% 100%;
  text-align: center;
}

.welcome {
  margin-left: 225px;
  margin-top: 180px;
  display: inline-block;
  color: white;
  font-size: 4em;
  font-family: 'Bree Serif', sans-serif;
}

.indent {
  text-indent: 100px;
}

/*********
  How Does it work?
********/

.work-box {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 300px;
  background-color: #68B3D6;
}

.how-text {
  position: relative;
  top: -100px;
  border: solid white thick;
  display: block;
  width: 400px;
  height: 100px;
}

.how-text h3 {
  text-transform: uppercase;
  color: white;
  font-size: 2em;
  margin-top: 25px;
}


.box {
  margin-top: 30px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  height: 250px;
  background-color: #495159;
  border: solid #EE6352 thick;
}

.idea {
  height: 100%;
  background: url('img/idea.svg') center no-repeat;
  background-size: contain;
  margin-top: -50px;
}

.idea p {
  padding-top: 70%;
  color: white;
}

.scatch {
  height: 100%;
  background: url('img/scatch.svg') center no-repeat;
  background-size: contain;
  margin-top: -50px;
}

.scatch p {
  padding-top: 70%;
  color: white;
}

.launch {
  height: 100%;
  background: url('img/launch.svg') center no-repeat;
  background-size: contain;
  margin-top: -50px;
}

.launch p {
  padding-top: 70%;
  color: white;
}

/*********
 Pricing
********/

.pricing {
  width: 100%;
  height: 350px;
  padding-top: 50px;
  background-color: #ecf0f1;
}

.price-box {
  width: 30%;
  height: 100%;
  border: red solid thick;
  margin-right: 10px;
  display: inline-block;
}






